/* Custom CSS */

/* Main Photo */

.mainphoto {
    height: 100%;
    width: 100%;
    margin: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Icons */

/* Text */
/* Home Page */
.text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}
/* Experience */
.text1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}
/* Experience */
.text2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}
/* Experience */
.text3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
    text-decoration: underline;
}
/* Portfolio */
.text4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}

a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}

a:hover {
    color: #008080;
}

a:active {
    color: #008080;
}

a:visited {
    color: #008080;
}

/* Footer */

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
}

.footer a {
    color: white;
    font-size: 30px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
}
