/* Custom CSS */
/* Main Photo */
.mainphoto {
    height: 100%;
    width: 100%;
    margin: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
/* Icons */
/* Parallax*/
#plx{
    height: 600vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.bgI{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:flex;
    position: relative;
}
.bgI.first{
    background-image: url(../images/picturemainp.png);
}
.bgI.second{
    background-image: url(../images/picturemainp.png);
}
.bgI.third{
    background-image: url(../images/picturemainp.png);
}
.frame{
    width:100%;
     height: 100vh;
    text-align: center;
    align-content: center;
    background-color:#343a40;
    position: relative;
}
.exp2{
    margin-left:12.5vw;
}
.edu2{
    margin-left:8vw;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}
.card.port{
    width: 40vw;
    height: 75vh;
    float: right;
    margin-left: 1vw;
    margin-right:1vw;
    
}
.card.exp{
     width: 22.5vw;
    height: 40vh;
    margin-left: 1.25vw;
    margin-right:1.25vw;
    
}
.card.edu {
    width: 40vw;
    height: 75vh;
    float: right;
    margin-left: 1vw;
    margin-right:1vw;
}
.card {
    position: relative;
    width: 100%;
    height:100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    background-color: white;
}
    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
.card front{
    background-color: white;
}
    .card .back {
        background: white;
        color: black;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}
input {
    display: none;
}
:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}
label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
.card-deck{
   width:100%;
}
/* Text */
/* Home Page */
.text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}
/* Experience */
.text1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}
/* Experience */
.text2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}
/* Experience */
.text3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}
/* Portfolio */
.text4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #008080;
}

.text6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 30px;
}
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black
}
a:hover {
    color: black;
}
/* a:active {
    color: #008080;
} */
/* a:visited {
    color: #008080;
} */
/* Footer */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    color: white;
    text-align: center;
}
.footer a {
    color: white;
    font-size: 30px;
    padding: 10px;
    transition: all .5s ease;
}
.footer a:hover {
    color: white;
}